body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color:#000000;
    padding: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 80px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: none;
}
a {
    text-decoration: underline;
    position: relative;
    font-size: 18px;
    color: #ffffff; /* رنگ متن لینک */
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; /* ضخامت خط */
    bottom: -3px; /* فاصله خط از متن */
    left: 0;
    background: linear-gradient(to right,#3D155F, #800080, #ffffff); /* گرادیان از بنفش به سفید */
    visibility: initial;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a:hover::after {
    transform: scaleX(1); /* حذف خط هنگام هاور */
}

/* section بخش  */

.section-text{
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
    margin-right: 100px;
}

.section-text2{
    font-size: 25px;
    margin-right: 100px;
    color: #ad09ad;
}

.section-text3{
    font-size: 20px;
}