body {
    font-family: Arial, sans-serif;
    background-image: url('C:\Users\LENOVO\Documents\GitHub\dark_loop\Ludus_nexus\Assets\Image');
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    direction: rtl;
}
/* بخش سرصفحه */
header {
    background-color:#000000;
    padding: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header span{
    text-align: left;
    margin-left: 80px
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 80px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: none;
}
header a {
    text-decoration: underline;
    position: relative;
    font-size: 18px;
    color: #ffffff; /* رنگ متن لینک */
}

header a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; /* ضخامت خط */
    bottom: -3px; /* فاصله خط از متن */
    left: 0;
    background: linear-gradient(to right,#3D155F, #800080, #ffffff); /* گرادیان از بنفش به سفید */
    visibility: initial;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header a:hover::after {
    transform: scaleX(1); /* حذف خط هنگام هاور */
}

/* section بخش  */

section{
    width: 60%;
}

article{
    width: 40%;
}

.section-text{
    font-size: 40px;
    font-weight: bold;
    margin-top: 150px;
    margin-right: 100px;
}

.section-text2{
    font-size: 35px;
    margin-right: 100px;
    color: #ad09ad;
}

.section-text3{
    font-size: 30px;
}

input[type=button]{
    margin-right: 70%;
    margin-top: 90px;
    width: 150px;
    padding: 7px;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(244, 43, 200 , .5);
    border: none;
    color: white;
}

section input:hover{
    background: linear-gradient(to right,#3D155F, #800080, #836986 );
}

main{
    display: flex;
}

article img{
    width: 250px;
    margin-top: 10%;
}

article{
    text-align: center;
}