body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
    direction: rtl;
    user-select: none; 
}

.back{
    position: fixed;
    z-index: -1;
    width: 100%;
}

/* بخش سرصفحه */
header {
    padding: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header img{
    text-align: left;
    margin-left: 99px;
    width: 251px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 80px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: none;
}
header a {
    text-decoration: underline;
    position: relative;
    font-size: 18px;
    color: #ffffff; /* رنگ متن لینک */
}

header a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; /* ضخامت خط */
    bottom: -3px; /* فاصله خط از متن */
    left: 0;
    background: linear-gradient(to right,#3D155F, #800080, #ffffff); /* گرادیان از بنفش به سفید */
    visibility: initial;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header a:hover::after {
    transform: scaleX(1); /* حذف خط هنگام هاور */
}

/* section بخش  */

section{
    width: 60%;
}

article{
    width: 40%;
}

.section-text{
    font-size: 40px;
    font-weight: bold;
    margin-top: 150px;
    margin-right: 100px;
}

section span{
    font-size: 58px;
}

.section-text{
    text-align: center;
    margin-top: 100px;
}

section input[type=button]{
    margin-right: 45%;
    margin-top: 90px;
    width: 172px;
    padding: 15px;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
    background-color: #712BE9E5;
    box-shadow: 4px 6px #360f79e5;
    border: none;
    color: white;
    font-size: 30px;
}

main{
    display: flex;
}

article img{
    width: 290px;
    margin-right: 180px;
    margin-top: 0px;
}

/* بخش ویدیو استریم */


.strim img{
    z-index: -1;
    width: 100%;
}

.strim h2{
    background-color: #712BE9E5;
    padding: 7px;
    margin: 25px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

/* استایل استریم ها */

.strim-photo2{
    margin: 30px;
    background-color: #1500533D;
    width: 80%;
    font-size: 25px;
}

.strim-photo2 img{
    width: 400px;
    margin: 20px;
    margin-right: 100px;
    cursor: pointer;
}

.strim-button{
    margin-right: 45%;
    margin-top: 90px;
    width: 160px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 6px 5px #340d76e5;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(#1100FF, #9000FF);
    background-color: #712BE9E5; /* برای مرور گر هایی که گردینت اعمال نمی شود*/
}