    /* Small */

@media only screen and (min-width: 576px) {
    footer{
        display: none;
    }

    header img{
        display: none;
    }

    .footer-compony{
        display: none;
    }

    header nav ul li{
        margin-right: 5px;
    }
}

    /* Medium */

@media only screen and (min-width: 768px) {
    header img{
        display: none;
    }

    .search-nav{
        width: 100%;
    }

    header nav ul li{
        padding: 15px;
    }

    header nav{
        width: 100%;
        text-align: center;
    }

    footer{
        display: none;
    }

    .footer-compony{
        display: none;
    }

    .container{
        width: 45%;
    }

    .set{
        margin: 35px;
    }

}

    /*Large */

@media only screen and (min-width: 992px) {
    nav ul li{
        padding: 15px;
    }

    footer{
        margin: 30px;
    }

    footer .resourse{
        margin-right: 18px;
    }

    header img{
        display: block;
    }

}

    /* Extra Large */

@media only screen and (min-width: 1200px) {
    nav li {
        margin: 20px;
    }

    header img{
        display: block;
    }

    footer{
        display: block;
        display: flex;
    }
}
