/* بخش ویدیو استریم */

body{
    direction: rtl;
    color: white;
}

.back{
    position: fixed;
    z-index: -1;
    width: 100%;
}

.strim{
    align-items: center;
    justify-content: center;
}

.strim h3{
    background: linear-gradient(to right ,#0569FF,#7631FF,#6105FF);
    padding: 7px;
    margin: 25px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

/* استایل استریم ها */

.strim-photo2{
    margin: 50px;
    background-color: #1500533D;
    font-size: 25px;
}

.strim-photo2 img{
    width: 400px;
    margin: 20px;
    margin-right: 100px;
    cursor: pointer;
}

.strim-button{
    margin-right: 45%;
    margin-top: 90px;
    width: 160px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 6px 5px #340d76e5;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(#1100FF, #9000FF);
    background-color: #712BE9E5; /* برای مرور گر هایی که گردینت اعمال نمی شود*/
}

/* بخش سوالهای متداول  */

.question-part h3{
    background: linear-gradient(to right ,#0569FF,#7631FF,#6105FF);
    padding: 7px;
    margin: 25px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.question{
    margin-right: 15%;
}

.question span{
    border-bottom: 3px solid;
    display: inline-block; /*چون بشه خط و تنظیم کرد*/
    width: 80%;
    border-image: linear-gradient(to right, #0569FF, #7631FF , #6105FF) 1;
    font-size: 25px;
    padding: 10px;
}

.question-icon{
    cursor: pointer;
    display: inline-block;
}
