@font-face {
	font-family: 'Yekan';
	src: url( './Font/Yekan.eot' );
	src: url( './Font/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './Font/Yekan.woff2' ) format( 'woff2' ),
		url( './Font/Yekan.woff' ) format( 'woff' ),
		url( './Font/Yekan.ttf' ) format( 'truetype' ),
		url( './Font/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'Yekan' !important; 
}

input[type=button]{
	font-family: 'Yekan';
}